@import url("https://fonts.googleapis.com/css2?family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Narnoor&family=Ysabeau+SC:wght@100;500&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;500;600;700&family=Roboto:wght@300&family=Ubuntu:wght@300&display=swap");

.app.default {
  --primary-color: linear-gradient(0deg, #d9afd9 0%, #97d9e1 100%);
  --secondary-color: #6c757d;
  --tertiary-color: #e25a5a;
  --quaternary-color: white;
  --quinary-color: blue;
  --text-color: rgb(69, 68, 68);
  --textarea-backgroud:#8d85ab;
  --feed-li: linear-gradient(0deg, #70abb1,#6db6d8 0% 100%);
}

.app.dark {
  --primary-color: #343a40;
  --secondary-color: #6c757d;
  --tertiary-color: #e25a5a;
  --quaternary-color: white;
  --quinary-color: blue;
  --text-color: rgb(69, 68, 68);
  --textarea-backgroud:#181e1b;
  --feed-li: linear-gradient(0deg, #70abb1,#171f23a3 0% 100%);
}

.app.blue {
  --primary-color: #007bff;
  --secondary-color: #6c757d;
  --tertiary-color: #e25a5a;
  --quaternary-color: white;
  --quinary-color: blue;
  --text-color: rgb(69, 68, 68);
  --textarea-backgroud:#5e9cbc;
  --feed-li: linear-gradient(0deg, #70abb1,#0a0a9d8f 0% 100%);
}

.app.light {
  --primary-color: #b1b1b1;
  --secondary-color: #6f6f6f;
  --tertiary-color: #e25a5a;
  --quaternary-color: white;
  --quinary-color: blue;
  --text-color: rgb(69, 68, 68);
  --textarea-backgroud:#a3cdca;
  --feed-li: linear-gradient(0deg, #70abb1,#35393b6a 0% 100%);
}

* {
  font-family: "Ubuntu", sans-serif;
  color: whitesmoke;
  --blur-color: rgba(225, 225, 225, 0.5);
}
h1 {
  cursor: default;
}
body {
  margin: 0;
  padding: 0;
}
.app {
  background-color: #343541;
  display: flex;
  flex-direction: row-reverse;
}
.title {
  font-family: "Ysabeau+SC", sans-serif;
  font-size: 35px;
  color: rgb(78, 214, 119);
  padding-bottom: 18px;
}

.side-bar {
  background: var(--tertiary-color);
  height: 100vh;
  min-width: 200px;
  width: 17%;
  display: flex;
  flex-direction: column;
}
.side-bar button {
  color: var(--text-color);
}

.blur {
  filter: blur(5px); /* Apply the blur effect */
  pointer-events: none; /* Disable pointer events on the blurred section */
}

.main {
  background: var(--primary-color);
  height: 100vh;
  font-family: "Narnoor";
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  flex: 1;
}

button {
  border: solid 0.5px rgb(252, 249, 249);
  padding: 10px;
  margin: 15px;
  background-color: transparent;
  border-radius: 10px;
}
button {
  outline: none;
  color: #ffffff;
  cursor: pointer;
  font-family: monospace;
  font-size: 18px;
  font-weight: bold;
  letter-spacing: 0px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  overflow: hidden;
  transition: all 0.3s ease;
}

button:hover {
  background-color: #c73939;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
  transform: translateX(-10%);
}

button:before {
  content: "";
  display: block;
  position: absolute;
  top: 50%;
  left: 50%;
  width: 0;
  height: 0;
  background-color: #ffffff;
  opacity: 0.1;
  border-radius: 100%;
  transform: translate(-50%, -50%);
  transition: all 0.5s ease-out;
}

button:hover:before {
  width: 400px;
  height: 400px;
  opacity: 0;
}

button:active {
  transform: translateY(0);
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
}

button:focus {
  outline: none;
}

nav {
  border-top: solid 0.5px rgba(225, 225, 225, 0.5);
  padding: 10px;
  margin: 10px;
  position: absolute;
  bottom: 0;
}
.info {
  color: rgba(225, 225, 225, 0.5);
  font-size: 11px;
  padding: 10px;
}
.bottom-section {
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.input-container {
  position: relative;
  width: 100%;
  max-width: 650px;
  display: flex;
  align-items: center;
}
textarea {
  font-family: "Ysabeau+SC", sans-serif;
  position: absolute;
  bottom: 0%;
  left: 0;
  height: 24px;
  overflow-y: auto;
  resize: vertical;
  width: calc(100% - 60px);
  font-size: 20px;
  background-color: rgba(255, 255, 255, 0.05);
  padding: 12px 15px;
  border-color: var(--blur-color);
  border-radius: 5px;
  border-width: 3px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px, rgba(0, 0, 0, 0.05) 0 -12px 30px,
    rgba(0, 0, 0, 0.05) 0 4px 6px, rgba(0, 0, 0, 0.05) 0 12px 3px,
    rgba(0, 0, 0, 0.05) 0 -3px 5px;
  animation: pulse 1.5s infinite;
  z-index: 1;
}
textarea {
  transition: opacity 1s ease-in-out;
}
textarea:hover {
  cursor: text;
  color: #e6e8ec;
  background-color: var(--textarea-backgroud);
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

textarea:focus,
textarea:not(:placeholder-shown) {
  opacity: 1;
}

textarea::placeholder {
  color: white;
}
textarea::-webkit-scrollbar {
  display: none;
}

.history {
  padding: 25px;
  margin: 10px;
  overflow-y: auto;
  overflow-x: hidden;
}
.history::-webkit-scrollbar {
  display: none;
}
.history li {
  cursor: pointer;
  display: flex;
  border: solid 0.5px rgba(246, 243, 243, 0.984);
  border-bottom-width: medium;
  background-color: transparent;
  width: 94%;
  color: white;
  font-weight: bold;
  max-height: 3% !important;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
  text-transform: capitalize;
  padding: 20px;
  margin: 20px 40px 20px -10px;
  border-radius: 20px;
  transition: transform 0.4s ease-in-out;
}
.history li:hover {
  color: rgb(8, 8, 8);
  background-color: #c6ad71;
  box-shadow: 0 15px 20px rgba(245, 242, 242, 0.2);
  transform: translateX(-7%);
  border: solid 2px rgba(43, 16, 109, 0.5);
}

.alert {
  color: #e6e8ec;
  font-size: medium;
  font-weight: bold;
}

#submit {
  position: absolute;
  bottom: 4px;
  right: 24px;
  font-size: 35px;
  height: 45px;
  cursor: pointer;
  background-color: transparent;
  color: rgb(215, 209, 209);
  border-radius: 8px;
  width: 50px;
  text-align: center;
  transition: all 0.5s ease;
  z-index: 2;
}
#submit:hover {
  transform: scale(1.4);
  color: #0b0b0b;
  background-color: transparent;
}

.voice_lisenting {
  position: absolute;
  top: -66px;
  font-size: 50px;
  height: 50px;
  cursor: pointer;
  background-color: transparent;
  border-color: transparent;
  color: rgb(220, 213, 213);
  border-radius: 15px;
  width: 40px;
  text-align: center;
  transition: all 0.5s ease;
  left: auto;
  right: -40px;
  box-shadow: none;
  display: flex;
  justify-content: center;
  align-items: center;
}
.listen {
  content: url(./assets/images/podcast.gif);
  height: 50px;
  mix-blend-mode: multiply;
}
.listen:hover {
  background-color: transparent;
  background: none;
  mix-blend-mode: multiply;
}
.renameimg {
  content: url(./assets/images/renameee.png);
  mix-blend-mode: multiply;
  height: 28px;
  padding: 0;
}
.mic {
  height: 30px;
  content: url(./assets/images/microphone.png);
}
.voice_lisenting:hover {
  transform: scale(1.1);
  color: #ffa85d;
  background-color: #ffffff;
  box-shadow: none;
}
.default-container {
  color: black;
  font-size: 35px;
  font-family: "Narnoor", sans-serif;
  text-align: center;
  margin-top: -150px;
}

.default-container p {
  color: white;
  font-size: 18px;
}

.default-container b {
  font-family: "Open Sans", sans-serif;
  color: rgb(31, 174, 62);
  font-size: 20px;
  font-weight: bolder;
}
.default-container b {
  color: rgba(237, 230, 230, 0.516);
  font-size: 25px;
}

.info-container {
  margin-top: -100px;
  display: flex;
  justify-content: space-evenly;
  height: 36%;
  gap: 2rem;
  width: 78%;
  overflow: auto;
  font-size: large;
}
.info-container::-webkit-scrollbar {
  display: none;
}
.info-plan {
  padding: 20px;
  text-align: left;
  background-color: rgba(255, 255, 255, 0.2);
  flex: 1 1;
  border-radius: 15%;
  height: 70%;
  overflow: auto;
}
.info-plan::-webkit-scrollbar {
  display: none;
}
.info-features li {
  color: rgba(225, 225, 225, 0.671);
  font-family: "Ubuntu", sans-serif;
  font-weight: bold;
  list-style: none;
  margin-left: 10px;
}
.info-features li b {
  color: rgba(12, 18, 18, 0.674);
}
.info-features li {
  list-style: "\02727";
  padding-left: 10px;
}
.info-features li::marker {
  color: black;
}

.info-title {
  color: black;
  font-family: "Narnoor", sans-serif;
  text-align: center;
}
.info-plan > * {
  width: 100%;
}
.info-title {
  font-size: 24px;
  font-weight: bold;
  margin-top: -10px;
  margin-bottom: 10px;
}

.info-features {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
.plan-features li {
  margin-bottom: 20px;
}

.feed {
  position: relative;
  overflow: auto;
  width: 90%;
  padding: 0;
  top: -50px;
}
.feed::-webkit-scrollbar {
  display: none;
}
.feed li {
  background: var(--feed-li);
  width: 90%;
  padding: 1px 20px 1px 20px;
  margin: 10px 0;
  border-radius: 20px;
}
.feed p {
  color: rgba(255, 255, 255, 0.8);
  font-size: 16px;
  text-align: left;
  font-family: "Open Sans", sans-serif;
  line-height: 1.3;
}
.feed p.role {
  background: #ecf1f144;
  width: fit-content;
  padding: 0 5px;
  border-radius: 10px;
  text-align: center;
  padding-top: 8px;
  height: 30px;
  font-size: 18px;
  font-weight: bold;
  color: #092913;
  text-transform: uppercase;
}
.message-container {
  position: relative;
}
.message-container pre span {
  font-size: 14px;
}
.role-container {
  display: flex;
  margin-bottom: -20px;
  align-items: center;
}
.feed pre span {
  color: rgba(255, 255, 255, 0.8);
  font-size: 17px;
  text-align: left;
  font-family: "Narnoor";
  line-height: 1.3;
}
pre {
  white-space: pre-wrap;
  word-wrap: break-word;
}

span {
  display: block;
}
.loading {
  display: flex;
  align-items: center;
  justify-content: center;
}

.dot {
  width: 10px;
  height: 10px;
  background-color: #000;
  border-radius: 50%;
  animation: dotAnimation 1s infinite ease-in-out;
  margin-right: 4px;
}

@keyframes dotAnimation {
  0% {
    transform: scale(1);
  }
  50% {
    transform: scale(0.5);
  }
  100% {
    transform: scale(1);
  }
}
.rename {
  outline: none;
  cursor: pointer;
  font-family: monospace;
  font-size: 25px;
  font-weight: bold;
  letter-spacing: 0px;
  box-shadow: 0 8px 15px rgba(0, 0, 0, 0.1);
  position: relative;
  color: #fff;
  overflow: hidden;
  box-shadow: none;
  transition: all 0.3s ease;
  display: flex;
  align-items: center;
  background-color: transparent;
  border: none;
  padding: 0px;
  margin-left: 5px;
  margin-right: 0px;
}

.rename:hover {
  color: red;
  box-shadow: none;
  background-color: transparent;
  transform: translateX(-10%);
  transform: scale(1.3);
}

.rename:before {
  content: "";
  display: inline-block;
  width: 10px;
  height: 10px;
  background-color: transparent;
  /* Replace with the path to your pen icon */
  background-repeat: no-repeat;

  margin-right: 15px;
}

input {
  font-family: "Ysabeau+SC", sans-serif;
  position: absolute;
  bottom: 0%;
  left: 0;
  overflow-x: none !important;
  overflow-y: auto;
  width: calc(100% - 60px);
  font-size: 20px;
  background-color: rgba(225, 225, 225, 0.05);
  padding: 12px 15px;
  border-color: #29a06c;
  border-radius: 5px;
  border-width: 3px;
  box-shadow: rgba(0, 0, 0, 0.05) 0 54px 55px, rgba(0, 0, 0, 0.05) 0 -12px 30px,
    rgba(0, 0, 0, 0.05) 0 4px 6px, rgba(0, 0, 0, 0.05) 0 12px 3px,
    rgba(0, 0, 0, 0.05) 0 -3px 5px;
  animation: pulse 1.5s infinite;
  z-index: 1;
}
input {
  transition: opacity 1s ease-in-out;
}
input:hover {
  cursor: text;
  color: #e6e8ec;
  background-color: #194935;
  box-shadow: 0 15px 20px rgba(0, 0, 0, 0.2);
}

input:focus,
input:not(:placeholder-shown) {
  opacity: 1;
}

input::placeholder {
  color: white;
}

.chat-title-container {
  display: flex;
  align-items: center;
  padding: 15px;
  margin: -30px;
  justify-content: space-between;
  width: 115%;
}
.delete {
  box-shadow: none;
  background: none;
  border: none;
  color: #fdfdfd;
  cursor: pointer;
  font-size: 28px;
  margin-left: 0px;
  margin-right: 0px;
  padding-right: 0%;
  position: relative;
  z-index: 1;
}
.delete:before {
  content: "";
  position: absolute;
  top: -3px;
  left: -3px;
  right: -3px;
  bottom: -3px;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.5);
  z-index: -1;
  opacity: 0;
  transition: opacity 0.3s ease-in-out;
}
.delete:hover {
  color: red;
  box-shadow: none;
  background-color: transparent;

  transform: scale(1.4);
}
.delete-prompt {
  color: white;
  font-weight: bold;
}
.deleteimg {
  content: url(./assets/images/deleteeeee.png);
  mix-blend-mode: multiply;
  margin-top: 20%;
}
/* Modal styles */
.custom-modal {
  position: absolute;
  border: 1px solid white;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #040404;
  width: 400px;
  height: 200px;
  padding: 20px;
  border-radius: 10px;
  text-align: center;
}

.custom-modal-overlay {
  background-color: rgba(0, 0, 0, 0.5);
}

.custom-modal h2 {
  color: white;
  margin-bottom: 20px;
}

.custom-modal .input-container {
  display: flex;
  transform: none;
  justify-content: center;
  margin-bottom: 20px;
}

.custom-modal input {
  position: relative;
  padding: 10px 0px;
  text-align: center;
  border-radius: 5px;
  color: white;
  border: 1px solid #ccc;
  width: 100%;
}

.custom-modal .modal-buttons {
  display: flex;
  justify-content: space-between;
}

.custom-modal button {
  padding: 10px 20px;
  border-radius: 5px;
  background-color: #0c570f;
  color: #fff;
  border: none;
  cursor: pointer;
}

.custom-modal button:not(:last-child) {
  margin-right: 10px;
}

.speak {
  content: url(./assets/images/sound.png);
}
.speak-button {
  height: 45px;
  width: 45px;
  border-radius: 75px;
  border: none;
  box-shadow: none;
  position: absolute;
  top: 0;
  right: -20px;
}
.speak-button:hover {
  color: transparent;
  background: rgb(39, 190, 162);
  animation: none;
  transform: none;
  box-shadow: none;
}
.generated-image {
  height: 40%;
  width: 40%;
  margin-left: 30%;
  margin-bottom: 2%;
  border: 6px solid rgb(242 237 237 / 50%);
  border-radius: 20%;
}

/*Theme-selector*/
.circular-menu {
  position: fixed;
  bottom: 1em;
  right: 1em;
}

.circular-menu .floating-btn {
  display: block;
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  background-color: hsl(4, 98%, 60%);
  box-shadow: 0 2px 5px 0 hsla(0, 0%, 0%, 0.26);
  color: hsl(0, 0%, 100%);
  text-align: center;
  line-height: 3.9;
  cursor: pointer;
  outline: 0;
}

.circular-menu.active .floating-btn {
  box-shadow: inset 0 0 3px hsla(0, 0%, 0%, 0.3);
}

.circular-menu .floating-btn:active {
  box-shadow: 0 4px 8px 0 hsla(0, 0%, 0%, 0.4);
}

.circular-menu .floating-btn i {
  font-size: 1.3em;
  transition: transform 0.2s;
}

.circular-menu.active .floating-btn i {
  transform: rotate(-45deg);
}

.circular-menu:after {
  display: block;
  content: " ";
  width: 3.5em;
  height: 3.5em;
  border-radius: 50%;
  position: absolute;
  top: 0;
  right: 0;
  z-index: -2;
  background-color: var(--blur-color);
  transition: all 0.3s ease;
}

.circular-menu.active:after {
  transform: scale3d(5.5, 5.5, 1);
  transition-timing-function: cubic-bezier(0.68, 1.55, 0.265, 1);
}

.circular-menu .items-wrapper {
  padding: 0;
  margin: 0;
}

.circular-menu .menu-item {
  position: absolute;
  top: 0.2em;
  right: 0.2em;
  z-index: -1;
  display: block;
  text-decoration: none;
  color: hsl(0, 0%, 100%);
  font-size: 1em;
  width: 3em;
  height: 3em;
  border-radius: 50%;
  text-align: center;
  line-height: 3;
  background-color: hsla(0, 0%, 0%, 0.1);
  transition: transform 0.3s ease, background 0.2s ease;
}

.circular-menu .menu-item:hover {
  background-color: hsla(0, 0%, 0%, 0.3);
}

.circular-menu.active .menu-item {
  transition-timing-function: cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.circular-menu.active .menu-item:nth-child(1) {
  transform: translate3d(1em, -7em, 0);
}

.circular-menu.active .menu-item:nth-child(2) {
  transform: translate3d(-3.5em, -6.3em, 0);
}

.circular-menu.active .menu-item:nth-child(3) {
  transform: translate3d(-6.5em, -3.2em, 0);
}

.circular-menu.active .menu-item:nth-child(4) {
  transform: translate3d(-7em, 1em, 0);
}

.items-wrapper .dark {
  background-color: #343a40;
}
.items-wrapper .light {
  background-color: #b1b1b1;
}
.items-wrapper .blue {
  background-color: #007bff;
}
.items-wrapper .default {
  background-color: linear-gradient(0deg, #d9afd9 7%, #97d9e1 93%);
}
